
/* Style applied to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Formatting for the documents body. Body contains all elements of a HTML document */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* a - creates a hyperlink applied to navigation bar */
header a {
    color: #ffffff;
    text-decoration: none;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

footer {

    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Formatting for website Hero Image*/

.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Applied to main article content - Search engine optimisation, Online reputation management and Social media marketing */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Main article content formating */
.main-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-article img {
    max-height: 200px;
}

.main-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* float places an element on the right or left of its container */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits-box {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Formatting content inside the benefits box */

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}